<div style="background-color: black; overflow: hidden; color: white; padding: 10px 16px;">
    <div style="float: left; padding: 14px 0;">
        Pinterest
    </div>
    <div style="float: right;">
        <a href="/profile"
            style="text-decoration: none; color: white; padding: 14px 16px; display: inline-block;">Profile</a>
        <a href="/feed" style="text-decoration: none; color: white; padding: 14px 16px; display: inline-block;">Feed</a>
        <a href="/logout"
            style="text-decoration: none; background-color: red; color: white; border: none; padding: 10px 16px; cursor: pointer; border-radius: 5px;">Logout</a>
    </div>
</div>